In [1]:
ls=[1,85,8598]

In [2]:
ls

[1, 85, 8598]

In [3]:
ls.pop()

8598

In [4]:
ls

[1, 85]

In [8]:
# pop functoion takes index to remove an element as well.

ls.append(12)
ls.append(52)
ls.append(985)

In [10]:
ls

[1, 85, [12, 85, 65], 12, 52, 985]

In [11]:
ls.pop(2)

[12, 85, 65]

In [12]:
ls

[1, 85, 12, 52, 985]

In [13]:
# we can check the defination of any method or function using shift + tab

In [14]:

# insert an element in to the list

ls.insert(0,"rakesh")

In [15]:
ls

['rakesh', 1, 85, 12, 52, 985]

In [16]:
# we can extend our list

ls.extend([21,545,25,25,5,352])

In [17]:
ls

['rakesh', 1, 85, 12, 52, 985, 21, 545, 25, 25, 5, 352]

In [18]:
ls.extend("hello")

In [19]:
ls

['rakesh',
 1,
 85,
 12,
 52,
 985,
 21,
 545,
 25,
 25,
 5,
 352,
 'h',
 'e',
 'l',
 'l',
 'o']

In [21]:
ls+["chlo_addHoaraha hai"]

['rakesh',
 1,
 85,
 12,
 52,
 985,
 21,
 545,
 25,
 25,
 5,
 352,
 'h',
 'e',
 'l',
 'l',
 'o',
 'chlo_addHoaraha hai']