In [1]:
# Nested list : List inside another list

lst=[20,6594,49,2654,26979,32452,556234]

In [2]:
print(lst.count(1))


lst.count(45)  # gives how many times the number of element is present.

0

0

In [3]:
# we have optio  to check the type of an obj.

# isinstace(element, Type)


# here type can be of type tuple :

if isinstance("ss",(complex,str)):
    print("fine its under constraint")

fine its under constraint

In [4]:
lst1=[1,2,3,4,5,6,7,8,9]

In [5]:
lst2=[x for x in lst1 if x%2==0]

In [6]:
lst2.index(4)

1

In [7]:
lst2

[2, 4, 6, 8]

In [8]:
# 4 as an element is not present


lst2.insert(2,"ram")

In [9]:
lst2

[2, 4, 'ram', 6, 8]

In [10]:
lst2.insert(100,"ss")

In [11]:
lst2

[2, 4, 'ram', 6, 8, 'ss']

In [13]:
print(lst2[100])

IndexError: list index out of range

In [15]:
# remove method 

lst2.remove("ram")  # it removes the first occurance of an object

In [16]:
lst2

[2, 4, 6, 8, 'ss']

In [17]:
# we can explore as much as i want with the inbuilt function based upon our requirement we can play around the function.


# now we are going to explore tuples


#  tuple syntax

a=(1,5,85,625,62)

In [18]:
a

(1, 5, 85, 625, 62)

In [19]:
type(a)

tuple

In [20]:
max(a)

625

In [21]:
min(a)

1

In [22]:
a[0]

1

In [23]:
a[0]="hello"

TypeError: 'tuple' object does not support item assignment

In [24]:
a.index(1)

0

In [25]:
sum(a) # returns sum of element

778

In [26]:
# you want to chaange of something so plz dont use tuple.

# tuple ensure data intigrity.

# dont wnat to change the integrity of the data then yopu can use tuple as  data structure.

# it provide convenient way of data integrity.
 

# slicing of tupel

a[0:]

(1, 5, 85, 625, 62)

In [27]:
a[::-1]

(62, 625, 85, 5, 1)

In [28]:


# sets String point ____________________


# sets is unordered collection of unique elements

# --- there is no order at all

# sets syntax :

    # x={1,2,30}

set1=set()

set1.add(10)

# like dictionary we have set syntax but in case of set we can have only value not the key.

In [29]:
set1.add(20)

In [30]:
set1.add(10)

In [31]:
set1

{10, 20}

In [34]:
# we have flexibity to convert a list of duplicate with set of unique

lst=[2,2,2,5,5,5,6,3,45,5,3,5]

st=set(lst)

In [35]:
st

{2, 3, 5, 6, 45}

In [36]:
ls=list(st)

In [37]:
ls

[2, 3, 5, 6, 45]

In [1]:
import os

In [2]:
pwd() # current working directory

'd:\\EDI Mapping In Python\\Learning\\DataScience\\SetsTuple'

In [5]:
ls=os.listdir("D:\\")

In [6]:
ls

['$RECYCLE.BIN',
 'BNSManualDownloads',
 'bots-3.2.0',
 'Data',
 'Destination path',
 'EDI Mapping In Python',
 'EDIFabricsSolution',
 'EdiFileDownload',
 'Python POC',
 'Software',
 'System Volume Information']

In [7]:
type(ls)

list

In [8]:
os.getcwd()

'd:\\EDI Mapping In Python\\Learning\\DataScience\\SetsTuple'