In [1]:
import pandas as pd

In [6]:
dt={"key1":[1,2,3,4,5,6],
    "key2":[7,8,9,10,11,12],
    "key3":[13,14,15,16,17,18],
    "key4":[19,20,21,22,23,24]}

In [8]:
# convert the abhove dictionary in pandas data frame.
dataSet=pd.DataFrame(dt) # here we can provide our own index within list.

In [11]:
# it will give value error because because each list must have same length.

dataSet

   key1  key2  key3  key4
0     1     7    13    19
1     2     8    14    20
2     3     9    15    21
3     4    10    16    22
4     5    11    17    23
5     6    12    18    24

In [12]:
# merger or sql join operation
# here we want to merge 2 data set 

pd.merge()

TypeError: merge() missing 2 required positional arguments: 'left' and 'right'