In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('dataFrame').getOrCreate()

In [ ]:
df_spark= spark.read.csv('test1.csv',header=True,inferSchema=True)

In [ ]:
df_spark.show()

+------+----+----+------+
|  Name| Age| Exp|Salary|
+------+----+----+------+
|  Ramu|  31|  10| 40000|
|Rakesh|  85|   9| 36000|
| Rihan|  36|   8| 72000|
|  Dewa|  35|   1| 52000|
|  Bumi|  39|   2| 20000|
|Suhani|  32|   5| 25000|
| Sonam|null|null| 40000|
|  null|  23|  10| 38000|
|  null|  36|null|  null|
+------+----+----+------+

In [ ]:
df_spark=df_spark.na.drop(how='any')

In [ ]:
df_spark.show()

+------+---+---+------+
|  Name|Age|Exp|Salary|
+------+---+---+------+
|  Ramu| 31| 10| 40000|
|Rakesh| 85|  9| 36000|
| Rihan| 36|  8| 72000|
|  Dewa| 35|  1| 52000|
|  Bumi| 39|  2| 20000|
|Suhani| 32|  5| 25000|
+------+---+---+------+

In [ ]:
# filter operation 

df_spark1=df_spark.filter("Salary<=25000")

In [ ]:
df_spark1.show()

type(df_spark1)

+------+---+---+------+
|  Name|Age|Exp|Salary|
+------+---+---+------+
|  Bumi| 39|  2| 20000|
|Suhani| 32|  5| 25000|
+------+---+---+------+

pyspark.sql.dataframe.DataFrame

In [ ]:
# another way of writing filhter operation

df_spark.show()

df_spark.filter(df_spark['Salary']<=25000).show()

+------+---+---+------+
|  Name|Age|Exp|Salary|
+------+---+---+------+
|  Ramu| 31| 10| 40000|
|Rakesh| 85|  9| 36000|
| Rihan| 36|  8| 72000|
|  Dewa| 35|  1| 52000|
|  Bumi| 39|  2| 20000|
|Suhani| 32|  5| 25000|
+------+---+---+------+

+------+---+---+------+
|  Name|Age|Exp|Salary|
+------+---+---+------+
|  Bumi| 39|  2| 20000|
|Suhani| 32|  5| 25000|
+------+---+---+------+

In [22]:
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Exp: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [28]:
# we can have multiple condition for filter function of dataFrame

df_spark.filter((df_spark['Age']<35) & (df_spark['Salary']<=25000)).show()

+------+---+---+------+
|  Name|Age|Exp|Salary|
+------+---+---+------+
|Suhani| 32|  5| 25000|
+------+---+---+------+

In [29]:
df_spark.filter(~(df_spark['Salary']<=25000)).show()

+------+---+---+------+
|  Name|Age|Exp|Salary|
+------+---+---+------+
|  Ramu| 31| 10| 40000|
|Rakesh| 85|  9| 36000|
| Rihan| 36|  8| 72000|
|  Dewa| 35|  1| 52000|
+------+---+---+------+