In [1]:
from pyspark.sql import SparkSession
spark= SparkSession.builder.appName("Practice2").getOrCreate()

In [2]:
df_spark= spark.read.csv('test1.csv',header=True,inferSchema=True)

In [3]:
df_spark.show()

+------+----+----+------+
|  Name| Age| Exp|Salary|
+------+----+----+------+
|  Ramu|  31|  10| 40000|
|Rakesh|  85|   9| 36000|
| Rihan|  36|   8| 72000|
|  Dewa|  35|   1| 52000|
|  Bumi|  39|   2| 20000|
|Suhani|  32|   5| 25000|
| Sonam|null|null| 40000|
|  null|  23|  10| 38000|
|  null|  36|null|  null|
+------+----+----+------+

In [4]:
# dropping the column

df_spark.drop('Age').show()
# we have to

+------+----+------+
|  Name| Exp|Salary|
+------+----+------+
|  Ramu|  10| 40000|
|Rakesh|   9| 36000|
| Rihan|   8| 72000|
|  Dewa|   1| 52000|
|  Bumi|   2| 20000|
|Suhani|   5| 25000|
| Sonam|null| 40000|
|  null|  10| 38000|
|  null|null|  null|
+------+----+------+

In [5]:
# here all the records which having null value gust get drop

df_spark.na.drop().show()

+------+---+---+------+
|  Name|Age|Exp|Salary|
+------+---+---+------+
|  Ramu| 31| 10| 40000|
|Rakesh| 85|  9| 36000|
| Rihan| 36|  8| 72000|
|  Dewa| 35|  1| 52000|
|  Bumi| 39|  2| 20000|
|Suhani| 32|  5| 25000|
+------+---+---+------+

In [6]:
# how = "any"

df_spark.na.drop(how="any").show()

+------+---+---+------+
|  Name|Age|Exp|Salary|
+------+---+---+------+
|  Ramu| 31| 10| 40000|
|Rakesh| 85|  9| 36000|
| Rihan| 36|  8| 72000|
|  Dewa| 35|  1| 52000|
|  Bumi| 39|  2| 20000|
|Suhani| 32|  5| 25000|
+------+---+---+------+

In [7]:
# thresh=someNumber

df_spark.na.drop(how="any",thresh=2).show()
# threshold decide at least threshold creteria hold

+------+----+----+------+
|  Name| Age| Exp|Salary|
+------+----+----+------+
|  Ramu|  31|  10| 40000|
|Rakesh|  85|   9| 36000|
| Rihan|  36|   8| 72000|
|  Dewa|  35|   1| 52000|
|  Bumi|  39|   2| 20000|
|Suhani|  32|   5| 25000|
| Sonam|null|null| 40000|
|  null|  23|  10| 38000|
+------+----+----+------+

In [8]:
# subset
df_spark.na.drop(how="any",subset=['Exp']).show()

+------+---+---+------+
|  Name|Age|Exp|Salary|
+------+---+---+------+
|  Ramu| 31| 10| 40000|
|Rakesh| 85|  9| 36000|
| Rihan| 36|  8| 72000|
|  Dewa| 35|  1| 52000|
|  Bumi| 39|  2| 20000|
|Suhani| 32|  5| 25000|
|  null| 23| 10| 38000|
+------+---+---+------+

In [9]:
type(df_spark)

pyspark.sql.dataframe.DataFrame

In [10]:
# filling the missing value

df_spark.na.fill(404,['Exp']).show()

# its depend up on data type.

+------+----+---+------+
|  Name| Age|Exp|Salary|
+------+----+---+------+
|  Ramu|  31| 10| 40000|
|Rakesh|  85|  9| 36000|
| Rihan|  36|  8| 72000|
|  Dewa|  35|  1| 52000|
|  Bumi|  39|  2| 20000|
|Suhani|  32|  5| 25000|
| Sonam|null|404| 40000|
|  null|  23| 10| 38000|
|  null|  36|404|  null|
+------+----+---+------+

In [11]:
# Imputer function to depict the missing value with mean, median and mode

from pyspark.ml.feature import Imputer
imputer=Imputer(inputCols=['Age','Exp','Salary'],
                outputCols=["{}_imputed".format(c) for c in ['Age',"Exp","Salary"]]).setStrategy("mean")

In [12]:
#  add imputer colum in data frames

imputer.fit(df_spark).transform(df_spark).show()

+------+----+----+------+-----------+-----------+--------------+
|  Name| Age| Exp|Salary|Age_imputed|Exp_imputed|Salary_imputed|
+------+----+----+------+-----------+-----------+--------------+
|  Ramu|  31|  10| 40000|         31|         10|         40000|
|Rakesh|  85|   9| 36000|         85|          9|         36000|
| Rihan|  36|   8| 72000|         36|          8|         72000|
|  Dewa|  35|   1| 52000|         35|          1|         52000|
|  Bumi|  39|   2| 20000|         39|          2|         20000|
|Suhani|  32|   5| 25000|         32|          5|         25000|
| Sonam|null|null| 40000|         39|          6|         40000|
|  null|  23|  10| 38000|         23|         10|         38000|
|  null|  36|null|  null|         36|          6|         40375|
+------+----+----+------+-----------+-----------+--------------+

In [5]:
df_spark.show()

SyntaxError: invalid syntax (3987822557.py, line 1)

In [1]:
a=20

In [2]:
a?

Type:        int
String form: 20
Docstring:
int([x]) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4