In [1]:
import pyspark

In [2]:
import pandas as pd

In [3]:
pd.read_csv("D:\\EDI Mapping In Python\\Learning\\ApachiSpark\\Data\\Book2.csv")

  Name\tAge \tExperience
0          Rakesh\t24\t5
1        Abhishek\t20\t2
2       Dharmesh\t35\t10

In [4]:
# we need to make a session for pyspark in order to use it 
from pyspark.sql import SparkSession

In [5]:
spark= SparkSession.builder.appName("DemoLaunching").getOrCreate()

In [6]:
spark

In [7]:
# reading the data from spark 
df_pyspark=spark.read.csv("D:\\EDI Mapping In Python\\Learning\\ApachiSpark\\Data\\Book2.csv")

In [8]:
df_pyspark.show()

+--------------------+
|                 _c0|
+--------------------+
|Name\tAge \tExper...|
|       Rakesh\t24\t5|
|     Abhishek\t20\t2|
|    Dharmesh\t35\t10|
+--------------------+

In [9]:
# set column Header (here again we are reading the data set includeing header)

df_pyspark1=spark.read.option('header','true').csv("D:\\EDI Mapping In Python\\Learning\\ApachiSpark\\Data\\Book2.csv")
print("Type",type(df_pyspark1))

df_pyspark1.show()

Type <class 'pyspark.sql.dataframe.DataFrame'>
+----------------------+
|Name\tAge \tExperience|
+----------------------+
|         Rakesh\t24\t5|
|       Abhishek\t20\t2|
|      Dharmesh\t35\t10|
+----------------------+

In [10]:
type(df_pyspark1)

pyspark.sql.dataframe.DataFrame

In [11]:
df_pyspark1.head(3)

[Row(Name	Age 	Experience='Rakesh\t24\t5'),
 Row(Name	Age 	Experience='Abhishek\t20\t2'),
 Row(Name	Age 	Experience='Dharmesh\t35\t10')]

In [12]:
df_pyspark1.printSchema()

root
 |-- Name\tAge \tExperience: string (nullable = true)

In [13]:
# main objective of This Pyspark Series:
# pyspark Dataframe
# reading the data set
# checking the datatype of the column
# selecting columns and indexing
# check describe option similar to pandas
# adding columns
# dropping columns

In [14]:
df_spark= spark.read.option('header','true').csv("D:\\EDI Mapping In Python\\Learning\\ApachiSpark\\Data\\Book1.csv",inferSchema=True)

In [15]:
df_spark.show()

+--------+----+----------+
|    Name|Age |Experience|
+--------+----+----------+
|  Rakesh|  24|         5|
|Abhishek|  20|         5|
|Dharmesh|  35|         2|
+--------+----+----------+

In [16]:
# check Schema of data set
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age : integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [17]:
# all column names
df_spark.columns

['Name', 'Age ', 'Experience']

In [18]:
# select one column
df_spark.select('Name').show()

# it is a dataframe of pyspark

+--------+
|    Name|
+--------+
|  Rakesh|
|Abhishek|
|Dharmesh|
+--------+

In [19]:
# select multiple rows
df_spark.select(['Name','Age ']).show()

+--------+----+
|    Name|Age |
+--------+----+
|  Rakesh|  24|
|Abhishek|  20|
|Dharmesh|  35|
+--------+----+

In [20]:
df_spark.dtypes

[('Name', 'string'), ('Age ', 'int'), ('Experience', 'int')]

In [21]:
df_spark.describe().show()

+-------+--------+------------------+------------------+
|summary|    Name|              Age |        Experience|
+-------+--------+------------------+------------------+
|  count|       3|                 3|                 3|
|   mean|    null|26.333333333333332|               4.0|
| stddev|    null|  7.76745346515403|1.7320508075688772|
|    min|Abhishek|                20|                 2|
|    max|  Rakesh|                35|                 5|
+-------+--------+------------------+------------------+

In [22]:
# adding columns in dataframe

df_spark=df_spark.withColumn("Experience After 2 yr",df_spark['Experience']+2)

In [23]:
df_spark.show()

+--------+----+----------+---------------------+
|    Name|Age |Experience|Experience After 2 yr|
+--------+----+----------+---------------------+
|  Rakesh|  24|         5|                    7|
|Abhishek|  20|         5|                    7|
|Dharmesh|  35|         2|                    4|
+--------+----+----------+---------------------+

In [24]:
df_spark.show()

+--------+----+----------+---------------------+
|    Name|Age |Experience|Experience After 2 yr|
+--------+----+----------+---------------------+
|  Rakesh|  24|         5|                    7|
|Abhishek|  20|         5|                    7|
|Dharmesh|  35|         2|                    4|
+--------+----+----------+---------------------+

In [25]:
# dropping a column
df_spark.drop('Experience After 2 yr').show()

+--------+----+----------+
|    Name|Age |Experience|
+--------+----+----------+
|  Rakesh|  24|         5|
|Abhishek|  20|         5|
|Dharmesh|  35|         2|
+--------+----+----------+

In [26]:
df_spark.withColumnRenamed("Name","New Name").show()

+--------+----+----------+---------------------+
|New Name|Age |Experience|Experience After 2 yr|
+--------+----+----------+---------------------+
|  Rakesh|  24|         5|                    7|
|Abhishek|  20|         5|                    7|
|Dharmesh|  35|         2|                    4|
+--------+----+----------+---------------------+

In [27]:
# filter